---
import { toYmdUTC, toStampUTC, toLongUTC } from "../utils/dates";

interface Props {
  posts: {
    id: string;
    data: {
      title: string;
      pubDate: Date;
    };
  }[];
}
type Post = Props["posts"][number];

const posts = Astro.props.posts.toSorted(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const postsByYear = Map.groupBy(posts, (post) =>
  post.data.pubDate.getUTCFullYear()
);

function href(post: Post) {
  return `${Astro.routePattern}/${post.id}`;
}
---

{
  [...postsByYear].map(([year, yearPosts]) => (
    <>
      <h2 class="year-marker flex gap-[19px] text-xl">
        <span class="sr-only">Posts in </span>{year}
      </h2>
      <ul class="u space-y-2">
        {yearPosts.map((post) => (
          <li class="relative grid grid-cols-[auto_auto_1fr] items-start gap-4">
            <a class="order-3 font-semibold" href={href(post)}>
              {post.data.title}
            </a>
            <time
              class="order-1 font-light"
              datetime={toYmdUTC(post.data.pubDate)}
              aria-label={toLongUTC(post.data.pubDate)}
            >
              {toStampUTC(post.data.pubDate)}
            </time>
            <span class="order-2 mt-[0.575rem] h-2.5 border-l border-frame-low" aria-hidden="true" />
          </li>
        ))}
      </ul>
    </>
  ))
}

<style>
  .year-marker::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    margin-block: auto;
    background: var(--color-frame-low);
  }
</style>
